<!DOCTYPE HTML> 
<html lang="en" ng-app="myApp"> 
<head>
  <title>IDES data preparation JS</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta http-equiv="Content-Language" content="en-us"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes">
  <meta name='keywords' content='IDES, zip, encrypt, compress, decrypt, decompress, FATCA, IRS'>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/bootstrap.js"></script>
  <script src="js/vendor/FileSaver.js"></script>
  <script src="js/vendor/jszip.js"></script>
  <script src="js/vendor/forge.js"></script>

  <script src="js/Main.js"></script>
  <script src="js/index.js"></script>

  <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/vendor/jumbotron-narrow.css">
</head> 
 
<body class="container" ng-controller="Main">
 
  <div class="jumbotron">
        <h1>
          IDES Receiver
          &nbsp;
          <a href="https://github.com/shadiakiki1986/IDES-Receiver"><img src="images/github.png"></a>
        </h1>
        <p class="lead">Decrypt zip files from the <a href="https://www.irs.gov/Businesses/Corporations/International-Data-Exchange-Service" target="_blank">IDES</a> gateway in your browser</p>
  </div>

        <div id="unsupported" style="display:none">
          Your browser is unsupported.
          Please check <a href="https://github.com/shadiakiki1986/IDES-Receiver#supported-browsers">here</a> for supported browsers, or download a modern browser from <a href="https://www.mozilla.org/en-US/firefox/new/">here</a>.
        </div>

        <ol id="realbody">
          <li>
            <label class="btn btn-primary" for="privateKey" ng-show="!privateKey">
              <input id="privateKey" type="file" style="display:none;" name="privateKey" />
              Import your PEM-formatted RSA private key
            </label>
            <div class="alert alert-danger" ng-show="errorPem">{{errorPem}}</div>
            <span ng-show="!!privateKey">
              <button ng-click="privkeyshown=!privkeyshown" type="button" class="btn btn-default">Show RSA Private key</button>
              <button ng-click="clearPrivateKey()" ng-show="!!privateKey" class="btn btn-danger">Clear key from browser</button>
            </span>
             &nbsp;
             <a href="https://www.irs.gov/Businesses/Corporations/FATCA-IDES-Technical-FAQs#EncryptionE1" target="_blank"><small>More information</small></a>
             &nbsp;
             <a href="https://raw.githubusercontent.com/robrichards/xmlseclibs/master/tests/privkey.pem" target="_blank"><small>Sample private key</small></a>
             &nbsp;
            <div ng-show=" privkeyshown">{{privateKeyText}}</div>
	  </li>
          <li>
            Import the zip file received from the IDES gateway
            <input id="file" type="file" name="file"  ng-disabled="!privateKey"/>
             &nbsp;
             <a href="https://github.com/shadiakiki1986/fatca-ides-php/blob/master/tests/FatcaIdesPhp/data/testMocked_self.zip?raw=true" target="_blank"><small>Sample zip file</small></a>
             <div class="alert alert-danger" ng-show="errorZip">{{errorZip}}</div>
          </li>
          <li>
            <label class="btn btn-success" ng-click="downloadXmlSigned()" ng-disabled="!dataXmlSigned">
              Generate the decrypted and decompressed Signed XML
            </label>
<table ng-show="!!dataXmlSigned" class="table">
      <tr><td>File from</td><td>{{from}} {{from=='000000.00000.TA.840'?'(IRS)':''}}</td></tr>
      <tr><td>File to</td><td>{{to}}</td></tr>
      </table>

	  </li>
        </ol>

    <ul ng-show="debug">
      <li>
        <span ng-click="privkeyshown=!privkeyshown">Private key: </span>
        <span ng-show=" privkeyshown">{{privateKey}}</span>
        <span ng-show="!privkeyshown">{{privateKey.substr(0,10)+"..."}}</span>
      </li>
      <li>
        <span ng-click="privkeyfullshown=!privkeyfullshown">Private key full: </span>
        <span ng-show=" privkeyfullshown">{{privateKeyFull}}</span>
        <span ng-show="!privkeyfullshown">{{privateKeyFull.substr(0,10)+"..."}}</span>
      </li>
      <li ng-repeat="fn in fns">
         {{fn.name}}
         ({{fn.text.length}} characters)
	 <br>
	 {{fn.text}}
      </li>
      <li>File from: {{from}}</li>
      <li>File to: {{to}}</li>
      <li>Cipher: {{cipher}}</li>
      <li>Encrypted key ({{aesEncrypted.length}}): {{aesEncrypted}}</li>
      <li>Decrypted key ({{aeskey.length}}): {{aeskey}}</li>
      <li>IV: {{iv}}</li>
      <li>Data encrypted: {{dataEncrypted}}</li>
      <li>Data compresed: {{dataCompressed}}</li>
    </ul>
 
  </div><!-- end Main -->

  <script>
    // Google analytics for my github pages
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-68799534-1', 'auto');
    ga('send', 'pageview');
  </script>

</body> 
</html> 

